@model IEnumerable<OnlineStoreCORE.OrderLine>

@{
    ViewBag.Title = "Index";
}
<head>
    <style>
  
  .card-btn {
  background-color: rgba(0, 0, 0, 0.1);
  /*color: #ffb242;*/
  bottom: -55px;
  right: 0;
  width: 150px;
  border-radius: 8px;
  height: 42px;
  font-size: 12px;
  font-family: lato, 'helvetica-light', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  outline: none;
  border: none;
  cursor: pointer;
}

#card-btn:hover {
  background-color: #5a9def;
} 

 </style>
</head>

@if (Model.Count() > 0)

{
    <h2>Shopping Cart</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })


                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }



    </table>

    <div class="form-group">
        <input class="card-btn" type="button" value="Buy" onclick="location.href='@Url.Action("Index", "Payment")'" />
    </div>
}
else
{
    <div>
        <h2>Shopping Cart is Empty !</h2>
    </div>
}
